html,
body {
  height: 100%;
  margin: 0;
}

#root, .wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: white;
}

.App {
  display: flex;
  text-align: center;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}
